{% extends 'registration/main.html' %}

{% block content %}
    <div class="header-bar">
          <h1 style="text-align: center;">Logowanie</h1>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <label><b>Nazwa użytkownika</b></label>
            {{ form.username }}

            <label><b>Hasło</b></label>
            {{ form.password }}

            <input style="margin-top:10px ; margin-left:150px" class="button" type="submit" value="Zaloguj">
        </form>

    </div>

{% endblock content %}