{% extends 'registration/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card-body">
        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><b>Logowanie</b></legend>
                {% csrf_token %}
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button href="" class="btn btn-dark" type="submit">Zaloguj</button>
            </div>
                Nie masz konta?
            <a href="{% url 'go_login' %}"><u>Zarejestruj się</u></a>
          </form>
    </div>
</div>
{% endblock content %}