{% extends 'registration/main.html' %}

{% block content %}
    <div class="header-bar">
          <h1 style="text-align: center;">Rejestracja użytkownika</h1>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <label><b>Nazwa użytkownika</b></label>
            {{ form.username }}

            <label><b>Hasło</b></label>
            {{ form.password1 }}

            <label><b>Powtórz hasło</b></label>
            {{ form.password2 }}

            <input style="margin-top:10px ; margin-left:125px" class="button" type="submit" value="Zarejestruj">
        </form>

    </div>

{% endblock content %}
