{% extends 'registration/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" >
    <div class="form-group">
        <a href="{% url 'resident' %}">
            <button  class="btn btn-dark" >
                    Powrót
            </button>
        </a>
    </div>
</div>
<div class="container">
    <p style="text-align: center">
        <div class="card" style="width: 100%; height: 80%" >
            <div class="card-body">
                <h5 class="card-title"><b>Dane mieszkańca</b></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Imię:
                        <p style="text-align: center">{{ resident.first_name }}</p>
                    </li>
                    <li class="list-group-item">
                        Nazwisko:
                        <p style="text-align: center">{{ resident.last_name }}</p>
                    </li>
                    <li class="list-group-item">
                        Email:
                        <p style="text-align: center">{{ resident.email }}</p>
                    </li>
                    <li class="list-group-item">
                        Lokal:<br>
                        <p style="text-align: center">
                            <a class="btn btn-dark"  data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">{{ local.number }}</a>
                            <div class="collapse" style="text-align: center" id="collapse1">
                                  <div class="card card-body" style="width: 100%;">
                                   Powierzchnia:    {{ local.area }} m^2
                                  </div>
                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </p>
</div>
{% endblock content %}