{% extends 'registration/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" >
    <div class="form-group">
        {% if logged == 'admin' %}
            <a href="{% url 'billing' %}">
                <button  class="btn btn-dark" >
                    Powrót
                </button>
            </a>
        {% else %}
            <a href="{% url 'resident_billing' %}">
                 <button  class="btn btn-dark" >
                     Powrót
                 </button>
            </a>
        {% endif %}
    </div>
</div>
<div class="container">
    <p style="text-align: center">
        <div class="card" style="width: 100%; height: 80%" >
            <div class="card-body">
                <h5 class="card-title"><b>Szczegóły rachunku</b></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Kwota:
                        <p style="text-align: center">{{ billing.value }} zł</p>
                    </li>
                        <li class="list-group-item">
                        Dane do przelewu:
                        <p style="text-align: center">Odbiorca: {{ billing.addressee_name }}</p>
                        <p style="text-align: center">Nr rachunku: {{ billing.bank_account }}</p>
                    </li>
                    <li class="list-group-item">
                        Okres rozliczeniowy:
                        <p style="text-align: center">{{ billing.start_billing | date:"d/m/Y" }} - {{ billing.end_billing | date:"d/m/Y" }}</p>
                    </li>
                    <li class="list-group-item">
                        Termin płatności:
                        <p style="text-align: center">{{ billing.payment_date }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </p>
</div>
{% endblock content %}